/* box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* text rendering */
html {
  /* Don't let text run away. */
  word-break: break-word;

  /* Don't let phones mess with our font-size. */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  /* Make text render nicely. */
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* font-family */
html {
  font-family: var(--font-primary);
}
figcaption {
  font-family: var(--font-sans);
}
pre,
code {
  font-family: var(--font-code);
}

/* font-size */
body {
  font-size: var(--step-0);
}
h4 {
  font-size: var(--step-1);
}
h3 {
  font-size: var(--step-2);
}
h2 {
  font-size: var(--step-3);
}
h1 {
  font-size: var(--step-4);
}
figcaption {
  font-size: var(--step--1);
}
code {
  font-size: 85%;
}
blockquote {
  font-size: var(--step--1);
}
footer {
  font-size: var(--step--2);
}
time {
  font-size: var(--step--2);
}

/* measure */
* {
  max-inline-size: var(--measure);
}
html,
body,
div,
header,
nav,
main,
footer,
hr,
pre,
code {
  max-inline-size: none;
}

/* layout */
body {
  /* ensure that background color is not cut-off on short pages */
  min-height: 100vh;
}
* {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.root-header,
.root-main,
.root-footer {
  padding: var(--fs-3);
}
.main-content {
  & > * + * {
    margin-block-start: var(--fs-3);
  }
  & > * + h2 {
    margin-block-start: var(--fs-5);
  }
}

/* padding */
pre code {
  padding: var(--fs-1);
}

/* icons */
.icon {
  width: 1em;
  height: 1em;

  & path {
    fill: currentColor;
  }
}

/* colors */
body {
  background-color: var(--light-bg);
  color: var(--light-tx);
}
a {
  color: var(--blue);

  &:visited {
    color: var(--purple);
  }
}

/* elements */
a {
  text-underline-offset: 2px;
}
hr {
  margin-block: 0.5rem;
  margin-inline: auto;
  border: none;
  border-block-start: 1px solid var(--light-ui-3);
  max-inline-size: 40ch;
}
blockquote {
  border-inline-start: var(--fs-0) solid var(--light-ui-3);
  padding-inline-start: var(--fs-3);
}

code {
  background: var(--light-bg-2);
  padding: 0.125em 0.25em;
  border-radius: 0.25em;
}

ul[role="list"] {
  list-style: none;
  padding: 0;

  & > li {
    margin-block: 0;
  }
  & > li + li {
    margin-block-start: var(--fs-1);
  }
}
