/* https://every-layout.dev/layouts/stack/ */
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * {
    margin-block: 0;
  }

  & > * + * {
    margin-block-start: var(--space, var(--fs-3));
  }
}

/* https://every-layout.dev/layouts/sidebar/ */

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, --fs-2);

  & > :first-child {
    flex-basis: var(--sidebar-size, auto);
    flex-grow: 1;
  }

  & > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: var(--min-inline-size, 50%);
  }
}
