:root {
  /*
   * flexible size scale, useful for sizing things that should
   * scale with the font-size.
   */
  --step--2: clamp(0.8781rem, 0.8401rem + 0.1902vw, 0.9875rem);
  --step--1: clamp(0.9375rem, 0.8771rem + 0.3022vw, 1.1113rem);
  --step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --step-1: clamp(1.0669rem, 0.9488rem + 0.5902vw, 1.4063rem);
  --step-2: clamp(1.1388rem, 0.9846rem + 0.7707vw, 1.5819rem);
  --step-3: clamp(1.215rem, 1.0185rem + 0.9826vw, 1.78rem);
  --step-4: clamp(1.2963rem, 1.0506rem + 1.2283vw, 2.0025rem);
  --step-5: clamp(1.3831rem, 1.0807rem + 1.512vw, 2.2525rem);

  /*
   * fixed size scale, useful for spacing things that should not
   * scale with the font-size.
   */
  --fs-0: 4px;
  --fs-1: 8px;
  --fs-2: 12px;
  --fs-3: 16px;
  --fs-4: 24px;
  --fs-5: 32px;
  --fs-6: 64px;

  --measure: 64ch;

  --font-primary: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  font-weight: normal;
  --font-sans: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  --font-code: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;

  /* Flexoki color scheme https://stephango.com/flexoki */
  --black: #100f0f;
  --gray-950: #1c1b1a;
  --gray-900: #282726;
  --gray-850: #343331;
  --gray-800: #403e3c;
  --gray-700: #575653;
  --gray-600: #6f6e69;
  --gray-500: #878580;
  --gray-300: #b7b5ac;
  --gray-200: #cecdc3;
  --gray-150: #dad8ce;
  --gray-100: #e6e4d9;
  --gray-50: #f2f0e5;
  --paper: #fffcf0;

  --light-tx: var(--black);
  --light-tx-2: var(--gray-600);
  --light-tx-3: var(--gray-300);
  --light-ui-3: var(--gray-200);
  --light-ui-2: var(--gray-150);
  --light-ui: var(--gray-100);
  --light-bg-2: var(--gray-50);
  --light-bg: var(--paper);

  --blue: #205ea6;
  --purple: #5e409d;
}
