---
layout: layouts/root.njk
description: All blog posts
eleventyExcludeFromCollections: true
---
<h1>All blog posts</h1>
<aside>
  <p>Subscribe to the <a href="/feed.xml">RSS feed</a>
  </p>
</aside>
<ul class="post-list _no-bullets">
  {%- for post in collections.post | reverse -%}
    <li>
      <div class="post-list-layout">
        <div class="title">
          <a href="{{ post.url }}">
            <span class="link-text">{{ post.data.title }}</span>
          </a>
        </div>
        <div class="date">
          <time class="post-list__timestamp" datetime="{{ post.data.date | htmlDateString }}">
            {{ post.data.date | readableDate }}
          </time>
        </div>
      </div>
    </li>
  {%- endfor -%}
</ul>