---
layout: layouts/root.njk
---
<header class="post-header">
  <h1 class="title">{{ title }}</h1>
  {% if date %}
    <time class="timestamp" datetime="{{ date | htmlDateString }}">Last updated: {{ date | readableDate }}</time>
  {% endif %}
  <p class="subtitle">
    <a href="https://nownownow.com/">What is a "now" page?</a>
  </p>
</header>
{{ content | safe }}