---
layout: layouts/root.njk
---
<header class="post-header">
	<h1 class="title">{{ title }}</h1>
	{% if date %}
		<time class="timestamp" datetime="{{ date | htmlDateString}}">{{date | readableDate}}</time>
	{% endif %}
</header>
{{ content | safe }}