<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
      <title>{{ title }} - {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
    {% if description %}
      <meta name="description" content="{{ description }}">
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f75814">
    <meta name="apple-mobile-web-app-title" content="tonymottaz.com">
    <meta name="application-name" content="tonymottaz.com">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#fffcf0">

    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="me" href="https://fosstodon.org/@tonymottaz">

    <link rel="alternate" type="application/rss+xml" title="RSS Feed for tonymottaz.com" href="/feed.xml">

    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <a class="visually-hidden --focusable" href="#main">Skip to main content</a>

    <div class="stack">
      <div class="with-sidebar" style="--gap: 0;">
        <header class="root-header">
          <h1 class="font-size:--step-0">Tony Mottaz</h1>
          <nav>
            <ul role="list">
              <li>
                <a href="/">Blog</a>
              </li>
              <li>
                <a href="/now" class="_subtle-link">Now</a>
              </li>
              <li>
                <a href="/about" class="_subtle-link">About</a>
              </li>
              <li>
                <a href="/feed.xml" class="_subtle-link">RSS</a>
              </li>
            </ul>
          </nav>
        </header>
        <main id="main" class="root-main" style="--min-inline-size: 46ch;">
          <div class="main-content">{{ content | safe }}</div>
          <stack-l></stack-l>
        </main>
      </div>
      <footer class="root-footer">
        <p>
          The content on this site is
            <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>. The
            <a href="https://codeberg.org/tonymottaz/tonymottaz.com">code for this site</a>
                  is
            <a href="https://codeberg.org/tonymottaz/tonymottaz.com/src/branch/main/LICENSE.txt">BSD-3-Clause</a>.
        </p>
      </footer>
    </div>
  </body>
</html>