:root {
  --color-heading: hsl(17, 77%, 40%);
  --header-size: 10rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-kerning: normal;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-break: break-word;
}

@media (min-width: 30em) {
  html {
    font-size: 115%;
  }
}

@media (min-width: 40em) {
  html {
    font-size: 130%;
  }
}

@supports (hanging-punctuation: first) {
  html {
    hanging-punctuation: first;
  }
}

body header {
  margin-bottom: 32px;
}
@media (min-width: 800px) {
  body header {
    margin-bottom: 64px;
  }
}

a,
a:visited {
  text-underline-offset: 2px;
  color: #0d3edb;
}

header {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 64px;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-heading);
}

h2 {
  font-size: 1.2rem;
  color: var(--color-heading);
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.01em;
}

h3 {
  font-size: 1rem;
  margin-block-start: 1.5em;
  margin-block-end: 0.5em;
}

section {
  max-width: 60ch;
  margin-inline: auto;
  line-height: 1.4;
}

@media (min-width: 800px) {
  section {
    margin-left: var(--header-size);
    position: relative;
    border-left: 2px solid slategray;
    padding-left: 8px;
  }
  section > h2 {
    position: absolute;
    top: 0;
    left: calc(-1 * var(--header-size));
    width: var(--header-size);
    text-align: right;
    margin: 0;
    padding-right: 8px;
  }
}

.experience-list .item > dt,
.education-list .item > dt {
  font-weight: bold;
  margin-bottom: 8px;
}
.experience-list .item .entry,
.education-list .item .entry {
  font-style: italic;
  font-size: 0.9rem;
  margin-block-end: 8px;
}

.elsewhere-list {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px 1rem;
}
.elsewhere-list dd {
  margin: 0;
}
