---
title: Oops! This page was not found
permalink: 404.html
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }} - Tony Mottaz</title>
  </head>

  <body>
    <h1>{{ title }}</h1>

    <p>Go back to the <a href="/">home page</a>.</p>

    <p>
      If you think this was a mistake, please
      <a
        href="mailto:issues@tonymottaz.com?subject=Broken%20URL%20on%20tonymottaz.com"
        >contact me by email</a
      >
      at
      <strong>issues@tonymottaz.com</strong>
      to let me know.
    </p>
  </body>
</html>